In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('stats.csv')

In [ ]:
df

In [ ]:
# Mean Salary
mean1=df['Salary'].mean()
mean1

In [ ]:
#Sum of Salaries
sum1=df['Salary'].sum()
sum1

In [ ]:
#Maximum Salary
max1=df['Salary'].max()
max1

In [ ]:
#Minimum Salary
min1=df['Salary'].min()
min1

In [ ]:
#Total count

count1=df['Salary'].count()
count1

In [ ]:
#Median
median=df['Salary'].median()
median

In [ ]:
#Mode
mode1=df['Salary'].mode()
mode1

In [ ]:
countrywise_sum=df.groupby(['Country'])['Salary'].sum()
countrywise_sum

In [ ]:
countrywise_count=df.groupby(['Country']).count()
countrywise_count

In [ ]:
#variance of salaries
var1=df['Salary'].var()
var1

In [ ]:
#standard deviation
std1=df['Salary'].std()
std1

In [ ]:
skew1=df.skew(axis=0, skipna=True)
skew1

In [ ]:
#The skewness is positive so x will have right side tail.

In [ ]:
df.describe()